{% extends 'base.html' %}

{% block head %}
<title>Pix -Home</title>
{% endblock %}


{% block body %}
<!-- <h1>Hello</h1> -->
<p align="center"><font size="8"><q><b>Best quality, Fastest shipping is our policy</b></q></font></p>

<p align="center"><img src="https://previews.dropbox.com/p/thumb/AAt-m_yyINl021_I4KF4-MBULRbWHYMTiU5faRHBUQs21_dU-a_2UUxeY2VW8zFFEHjDugm1QuyT_aLerITc4EIlirn1wWNwcFkbbaSYY3AnmOKaFg6IYZ2D5EVCgtPutlNQm4-0WVdeo9lD2dlb779nHP2feNU54uTytocVD6nmLly20ta4mNI9g6AQR1J4rBDvWzkG7y51GN96X8oEL9tSy09IPwJ1ZAH6Nccs-QJ5lgLIOh0f76_GKbesctYsPHi7t-DvoERARn2Ejz55itN5VNEfY3nvJOxVjptsQNPURvtJvJaWJZBQn7jt0FSqN4Kaowllv_kaa_9tSTRP4yPkcV-63U3bUOwGle9dlobzxQ/p.png?fv_content=true&size_mode=5" height="400" width="400"></p>
<p align="center"><font size="8">Start exploring by clicking the upper right menu.</font></p>
{% endblock %}
