{% extends 'base.html' %}

<html lang="en">
  <head>
    {% block head %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Surface PRO X</title>
    {% endblock %}



<link href="/static/core.css" rel="stylesheet">

{% block body %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>

<p><p>

<p align="center"><img src="https://previews.dropbox.com/p/thumb/AAvbKulzPsjH6gjjWldWmNh8VUuFwFO_8u3z9iuhsHBpmtzrjqii1N2ImEK8Nok34f3_UjKbKS4GG1x5-7uXNuGnjJ20ydtsMvLwpZ1axrVx5OongXbQXME3qR1Knz8VuzW_lcAE2bTi33l6RXc2TZrN6rmgoSHxDAAyb7p4tcpiawJryqXPRoSL-hvaN9RxHDZyMRJg5ikT_6j6ru9NpVV1sW49b1mZilwdGZJkXktyuMBJUSqHwJnr0XpAlpyypXcY1dWaoKZspyrpq-nc3s-5hsCq24XKZej-zrh50-7DXJ_OPCFLDXokd2fM4FlxJb4NSDOnHjKDM9SKdM1UQrADYfAWsOKQWl6h7v_MI7jaXg/p.png?fv_content=true&size_mode=5" height = "407" width = "644"></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4"><b>Surface PRO X</b></h1>

  <p class="lead"><q><i><b>Excellent choice for every uses.</q></i></b><br>
    <br>Microsoft SQ1™  8GB or 16GB LPDDR4x RAM  PixelSense™ Display<br>
    <br>Microsoft® SQ1™ Adreno™ 685 GPU  2xUSB-C®  1xSurface Connect port<br>
    <br>Surface Keyboard connector port  1x nano SIM Compatible with Surface Dial off-screen interaction<br>
    <br>Firmware TPM  Enterprise-grade protection with Windows Hello face sign-inBacklit

  </p>
</div>

<div class="container">
  <div class="card-deck mb-2 text-center">
    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">256GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿64,900</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>


    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">512GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿73,600</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>

    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">1TB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿90,200</h1>

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>
  </div>


    {% endblock %}
  </div>
</body>
