{% extends 'base.html' %}

<html lang="en">
  <head>
    {% block head %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Swift 7</title>
    {% endblock %}



<link href="/static/core.css" rel="stylesheet">

{% block body %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="Swift 7">
  </head>
  <body>

<p><p>

<p align="center"><img src="https://previews.dropbox.com/p/thumb/AAt6fZq54yjy1n7zAocnFqvVc8KOq2muGl49aY6tnyKQKd-BcqozQaRRZxHGf6gvuxdkVa1_FLDOd4fVRTHeuec6SdiRwCiVfZYKElZK3jnEhRWIfJB3uQjv0_4AZ4X6R-OgnpGqfrlBWikUoTxTbpKSH9b2BOQsznTFM5wBUzGo2oAFgLpjRwlqNmDIDMwtvXyIVAAMjDHu-OhJWdO1Km2Tn99zJ6pAW-vjwnYCsJsFac7zZdj0IdTD6T0kbyM4XSFf4a-TQxoDyfNcZQdhGNl-cg6O_YApyGTqSx7xMPXWtR3YFicUv5wL_cgBcH52cy4r3ubZyoEWA--JmOai5VkLrnZ7gsXMzDTJe4a2eMqevg/p.png?fv_content=true&size_mode=5" height = "407" width = "644"></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4"><b>Swift 7</b></h1>

  <p class="lead"><q><i><b>Good and cheap, who could've asked for more?</q></i></b><br>
    <br>1.5GHz Intel Core i7-8500Y (dual-core,4MB cache, up to 4.2 GHz)<br>
    <br>8GB LPDDR3 RAM  Full HD CineCrystal IPS touch display<br>
    <br>Microsoft SQ1™  Adreno™ 685 GPU  2xThunderbolt 3 (USB-C)<br>
    <br>headset jack  Intel Wireless-AC 9260 802.11ac Wi-Fi, Bluetooth

  </p>
</div>

<div class="container">
  <div class="card-deck mb-2 text-center">
    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">256GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿42,900</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>


    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">512GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿62,400</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>
  </div>

    {% endblock %}
  </div>
</body>
