{% extends 'base.html' %}

<html lang="en">
  <head>
    {% block head %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Macbook PRO</title>
    {% endblock %}



<link href="/static/core.css" rel="stylesheet">

{% block body %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>

<p><p>

<p align="center"><img src="https://previews.dropbox.com/p/thumb/AAusGIYFKo_wBBZa1Yhxj6oBDUXCe3roIqfeAxIRyKTJLCoU847XBOHp3T2dU6a9iJjpRN-LM5Vv6L_YfcB7hdOPK_jCAwq4BP9rLbfcB5XRugTK24H3UlWGwfU47kpZxpOnue4pD3Sc5oASeU_DZv3MF6yg_g221y7BCV0VcYmExH35HMS7x7mqYv3x4ROt_2cv7TwGRpsDpNAKrbPn9Pp5JZStcp_-LIYmVuqn-WRXV8q00YJX6_e3-s6aodwWbEM9fw6fA-SJuR3WeHo_FyaCMRadBzjambtGs14xitT8dU2AlOV8NDxd93l8ZbnV8Hblhmch42UnKPk5fgAIinchWtPrIAlD3ThEgHVD9IAIsw/p.png?fv_content=true&size_mode=5"></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4"><b>Macbook PRO</b></h1>

  <p class="lead"><q><i><b>Possibly the worst choice you'll make if you buy this thing.</q></i></b><br>
    <br>1.4 GHz quad-core 8th-generation Intel Core i5 processor, Turbo Boost up to 3.9 GHZ<br>
    <br>8GB 2133MHz LPDDR3 memory Retina display with True Tone Intel Iris Plus Graphics645<br>
    <br>Two Thunderbolt 3 ports Touch Bar and Touch ID Blacklit Keyboard - US English


  </p>
</div>

<div class="container">
  <div class="card-deck mb-2 text-center">
    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">256GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿64,900</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>


    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">512GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿84,900</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>

    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">1TB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿11,1111</h1>

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>
  </div>


    {% endblock %}
  </div>
</body>
