{% extends 'base.html' %}

<html lang="en">
  <head>
    {% block head %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>XPS 13</title>
    {% endblock %}



<link href="/static/core.css" rel="stylesheet">

{% block body %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>

<p><p>

<p align="center"><img src="https://previews.dropbox.com/p/thumb/AAsBZ-JDG0n57JgOeTJk0_ZfrF4IPcF6tqayHr7KhQORtCHcooMzRxvRsbKkp507r0BGhWmbTd4BTCkbNi2Hm3S1q3d0PmokWVuqkDVahUR37yuz2iB1qclXUpi0yH-4xnSIZeEj1sWQSV9LqWmF9cmMpdJQ4NyxWtmSQwf3OxVUt2sbZMteFe7fV8TWg-McdHUX2gCrSiBigqZiebMOhRSpMb42mQA5WMJfukQ21PiDFSF69CeMJSb8spgQpYQ4CSLZCZcVxcXpvlTOAgTZ8e3_D_Vt8pNXrBcpZsgT6IVAO_C5E6A06-gtgtJMAjz_mc4kNa6dx6qpjsUWGjTkONnpLFSsujgiA0QWNAkVY9Rp3A/p.png?fv_content=true&size_mode=5" height = "407" width = "644"></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4"><b>XPS 13</b></h1>

  <p class="lead"><q><i><b>Certainly not the best choice but certainly not the worst</q></i></b><br>
    <br>1.8 GHz Intel Core i7-8565U (quad-core, 8MB cache,up to 4.6 GHz)<br>
    <br>16GB 2133MHz DDR3 memory RAM  Intel UHD Graphics 620<br>
    <br>Ultra HD UltraSharp InfinityEdge touch display  2xThunderbolt3 (USB-C)<br>
    <br>1xUSB-C 3.1  Micro SD card reader  headset jack  Killer 1435 802.11ac Wi-Fi

  </p>
</div>

<div class="container">
  <div class="card-deck mb-2 text-center">
    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">256GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿69,900</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>


    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">512GB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿83,600</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>

    <div class="card mb-5 shadow-sm">
      <div class="card-header">
        <h4 class="my-5 font-weight-normal">1TB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿102,200</h1>

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>
  </div>


    {% endblock %}
  </div>
</body>
