{% extends 'base.html' %}

<html lang="en">
  <head>
    {% block head %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Zenbook PRO</title>
    {% endblock %}



<link href="/static/core.css" rel="stylesheet">

{% block body %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>

<p><p>

<p align="center"><img src="https://previews.dropbox.com/p/thumb/AAspWeucwC8E4aPWBvIHzVkVp57ri7h-qEYplsVA1pgpjRrdZqv6ZRoDlOCaDVYeD9nIgdlUpePdhr0_I4c5bucHT1T9eDskh0Li6BOSO2j2Pf8I7t0nSdJB7KbRCfTEOonIMy32W3FJb3FdyOyl74bUEUEvZjs2ZfW6mP_ChiBhaqsLvWJRdsdVBmaHZ5bahxApmF2L5XOI3uZREpOEB9drBs2FeGM8nennLFZY9wlWmpWXkS3cTo7QttHVhNZIMktXkUTVtqDRZfXA52jgM0r7OkxEep9EbJYc0zQVhH37jvT5EXz3a6w8dNMQvpzWXgYVwuN2M6Tudj7_cQu5-75Qy4jfCWE2U_dhcQEYzqXcvA/p.png?fv_content=true&size_mode=5" height = "407" width = "644"></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4"><b>Zenbook Pro</b></h1>

  <p class="lead"><b><q><i>May worth the money if you like to flex</q></i></b><br>
    <br>2.4 GHz Intel Core i9-9980HK (octa-core, 16MB cache, up to 5GHz)<br>
    <br>32GB DDR4 RAM  Nividia GeForce RTX 2060  15.6-inch, OLED Ultra HD, 14-inch Untra HD touch display<br>
    <br>1xThunderbolt 3  2xUSB-C 3.1  HDMI 2.0 headset jack<br>
    <br>Intel Wi-Fi 6 with Gig+performance  IR webcam with Windows Hello Support

  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">1TB SSD storage</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">฿109,900</h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
      </div>
    </div>
    </div>
  </div>


    {% endblock %}
  </div>
</body>
